@import "./variants.scss";
@import "./breakpoints.scss";
.project-container {
  height: 100%;
  .content-project {
    display: flex;
    flex-direction: column;
    .wrapper-project {
      display: flex;
      gap: 8px;
      margin-bottom: 1rem;
      align-items: center;
      .icon-project {
        @include buttonStylepink;
        color: white;
      }
      .title-project {
        color: $gray-dark;
        font-size: 16px;
      }
    }
    .form-product-wrapper {
      display: flex;
      justify-content: center;
      .form-product {
        display: flex;
        width: 600px;
        flex-direction: column;
        justify-content: center;
        margin-top: 8rem;
        @include md {
          width: 100%;
        }
      }
    }
  }
}
